.parent {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*solution*/
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
