ul {
    list-style: none;
    width: 75vw;
    

    /* add solution here */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 2;
    gap: 20px;
}

li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 173, 41);

    /* add solution here.. */
    width: 100%;
    font-size: 31px;
}